:root {
  --bg:#f6f9fc;
  --card:#fff;
  --accent:#0b74ff;
}

* { box-sizing:border-box; }

body {
  font-family:system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial;
  background:var(--bg);
  margin:0;
  padding:20px;
}

.container {
  max-width:420px;
  margin:20px auto;
}

h1 {
  text-align:center;
  margin-bottom:12px;
}

.card {
  background:var(--card);
  padding:12px;
  border-radius:10px;
  box-shadow:0 6px 18px rgba(10,20,40,0.06);
  margin-bottom:14px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

input[type="text"] {
  width:100%;
  padding:12px;
  border-radius:10px;
  border:1px solid rgba(10,20,40,0.06);
  font-size:16px;
}

.btn {
  padding:14px;
  border-radius:10px;
  border:1px solid rgba(10,20,40,0.06);
  background:#fff;
  font-size:16px;
  cursor:pointer;
}

.btn.primary {
  background:var(--accent);
  color:#fff;
  border:none;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  width: 150px;
}